USE [master]
GO
/****** Object:  Database [InventoryManagementDB]    Script Date: 06-03-2026 17:43:53 ******/
CREATE DATABASE [InventoryManagementDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'InventoryManagementDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\InventoryManagementDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'InventoryManagementDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\InventoryManagementDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [InventoryManagementDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [InventoryManagementDB]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 06-03-2026 17:43:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[ModifiedDate] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Privileges]    Script Date: 06-03-2026 17:43:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Privileges](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RefreshTokens]    Script Date: 06-03-2026 17:43:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RefreshTokens](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Token] [nvarchar](500) NOT NULL,
	[ExpiresAt] [datetime2](7) NOT NULL,
	[IsRevoked] [bit] NULL,
	[CreatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RolePrivileges]    Script Date: 06-03-2026 17:43:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolePrivileges](
	[RoleId] [int] NOT NULL,
	[PrivilegeId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC,
	[PrivilegeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 06-03-2026 17:43:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](200) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRoles]    Script Date: 06-03-2026 17:43:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoles](
	[UserId] [int] NOT NULL,
	[RoleId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 06-03-2026 17:43:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](max) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[ModifiedDate] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [Name], [Description], [IsDeleted], [CreatedDate], [ModifiedDate]) VALUES (1, N'Electronics Item', N'Laptop', 0, CAST(N'2026-03-05T12:00:59.4954836' AS DateTime2), CAST(N'2026-03-06T17:21:49.6789810' AS DateTime2))
INSERT [dbo].[Categories] ([Id], [Name], [Description], [IsDeleted], [CreatedDate], [ModifiedDate]) VALUES (2, N'hello', N'Electronic devices', 0, CAST(N'2026-03-05T12:04:17.6690676' AS DateTime2), CAST(N'2026-03-05T12:04:39.4635269' AS DateTime2))
INSERT [dbo].[Categories] ([Id], [Name], [Description], [IsDeleted], [CreatedDate], [ModifiedDate]) VALUES (3, N'Electronics', N'rgergegdevices', 0, CAST(N'2026-03-05T12:05:13.9377583' AS DateTime2), CAST(N'2026-03-05T12:10:11.6630488' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Privileges] ON 

INSERT [dbo].[Privileges] ([Id], [Name], [Description]) VALUES (9, N'ViewCategories', NULL)
INSERT [dbo].[Privileges] ([Id], [Name], [Description]) VALUES (10, N'CreateCategory', NULL)
INSERT [dbo].[Privileges] ([Id], [Name], [Description]) VALUES (11, N'UpdateCategory', NULL)
SET IDENTITY_INSERT [dbo].[Privileges] OFF
GO
SET IDENTITY_INSERT [dbo].[RefreshTokens] ON 

INSERT [dbo].[RefreshTokens] ([Id], [UserId], [Token], [ExpiresAt], [IsRevoked], [CreatedAt]) VALUES (1, 1, N'Jt4mEMFr70y9uOHctjezfNM7vLa1Q6ttG0HW1EDXiX/TEVYFh7o+iyyuc6tpJa76Nb0UTzzASMKUaqLdbNuICA==', CAST(N'2026-03-13T06:26:27.5664045' AS DateTime2), 0, CAST(N'2026-03-06T06:26:27.7300000' AS DateTime2))
INSERT [dbo].[RefreshTokens] ([Id], [UserId], [Token], [ExpiresAt], [IsRevoked], [CreatedAt]) VALUES (2, 1, N'UDlOZA7AHYldNw/6ct2J721nHG1y4daWnOct7YZHc0BO4wWpWbw7RQ8s9icQdtahIcA47YnMbi8L4IjjOXG17A==', CAST(N'2026-03-13T06:37:29.0240311' AS DateTime2), 0, CAST(N'2026-03-06T06:37:29.2233333' AS DateTime2))
INSERT [dbo].[RefreshTokens] ([Id], [UserId], [Token], [ExpiresAt], [IsRevoked], [CreatedAt]) VALUES (3, 1, N'alup4sSxhKAo6+5Oo/FlPCyN5QdhewrxOmf3SpZu99hZqqwh2QEV4s8uYBSEukhPZ70zuuulNpW6pvjjmDQvsA==', CAST(N'2026-03-13T06:40:45.7417643' AS DateTime2), 0, CAST(N'2026-03-06T06:40:45.7733333' AS DateTime2))
SET IDENTITY_INSERT [dbo].[RefreshTokens] OFF
GO
INSERT [dbo].[RolePrivileges] ([RoleId], [PrivilegeId]) VALUES (4, 9)
INSERT [dbo].[RolePrivileges] ([RoleId], [PrivilegeId]) VALUES (4, 10)
INSERT [dbo].[RolePrivileges] ([RoleId], [PrivilegeId]) VALUES (4, 11)
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([Id], [Name], [Description], [CreatedDate]) VALUES (4, N'Admin', N'Full access', CAST(N'2026-03-05T08:42:20.8166667' AS DateTime2))
INSERT [dbo].[Roles] ([Id], [Name], [Description], [CreatedDate]) VALUES (5, N'Manager', N'Manage inventory', CAST(N'2026-03-05T08:42:20.8166667' AS DateTime2))
INSERT [dbo].[Roles] ([Id], [Name], [Description], [CreatedDate]) VALUES (6, N'Staff', N'View operations', CAST(N'2026-03-05T08:42:20.8166667' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
INSERT [dbo].[UserRoles] ([UserId], [RoleId]) VALUES (1, 4)
INSERT [dbo].[UserRoles] ([UserId], [RoleId]) VALUES (2, 5)
INSERT [dbo].[UserRoles] ([UserId], [RoleId]) VALUES (3, 6)
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Username], [PasswordHash], [FullName], [Email], [IsDeleted], [CreatedDate], [ModifiedDate]) VALUES (1, N'admin', N'$2a$11$Oxh8J7jQnMH68umPKsaBVuBcp4eEZLTUEwpY7o4UPUgwznYTEHQue', N'System Administrator', N'admin@invms.com', 0, CAST(N'2026-03-05T10:29:39.4079738' AS DateTime2), NULL)
INSERT [dbo].[Users] ([Id], [Username], [PasswordHash], [FullName], [Email], [IsDeleted], [CreatedDate], [ModifiedDate]) VALUES (2, N'aryan', N'$2a$11$Bp34SCGmUNlQZz9TzpgE1e8eUk1ETqLmOzapWF7VHpIjYGE1CJfvy', N'aryanmanger', N'aryan@example.com', 0, CAST(N'2026-03-05T11:23:33.1823819' AS DateTime2), NULL)
INSERT [dbo].[Users] ([Id], [Username], [PasswordHash], [FullName], [Email], [IsDeleted], [CreatedDate], [ModifiedDate]) VALUES (3, N'kartik', N'$2a$11$8wdnS35mAVjIb.Vtg6vk3emjdjlW9yS/OE7syX2Q0N2jwLVdxx1MO', N'kartikstaff', N'kartik@example.com', 0, CAST(N'2026-03-05T11:23:59.4016681' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Categories_Name]    Script Date: 06-03-2026 17:43:53 ******/
ALTER TABLE [dbo].[Categories] ADD  CONSTRAINT [UQ_Categories_Name] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Privileg__737584F6BD04BA09]    Script Date: 06-03-2026 17:43:53 ******/
ALTER TABLE [dbo].[Privileges] ADD UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Roles__737584F64DA56FDE]    Script Date: 06-03-2026 17:43:53 ******/
ALTER TABLE [dbo].[Roles] ADD UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Users_Email]    Script Date: 06-03-2026 17:43:53 ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [UQ_Users_Email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Users_Username]    Script Date: 06-03-2026 17:43:53 ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [UQ_Users_Username] UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Categories] ADD  CONSTRAINT [DF_Categories_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Categories] ADD  CONSTRAINT [DF_Categories_CreatedDate]  DEFAULT (sysdatetime()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[RefreshTokens] ADD  DEFAULT ((0)) FOR [IsRevoked]
GO
ALTER TABLE [dbo].[RefreshTokens] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT (getutcdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_CreatedDate]  DEFAULT (sysdatetime()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[RefreshTokens]  WITH CHECK ADD  CONSTRAINT [FK_RefreshTokens_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[RefreshTokens] CHECK CONSTRAINT [FK_RefreshTokens_Users]
GO
ALTER TABLE [dbo].[RolePrivileges]  WITH CHECK ADD  CONSTRAINT [FK_RolePrivileges_Privileges] FOREIGN KEY([PrivilegeId])
REFERENCES [dbo].[Privileges] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RolePrivileges] CHECK CONSTRAINT [FK_RolePrivileges_Privileges]
GO
ALTER TABLE [dbo].[RolePrivileges]  WITH CHECK ADD  CONSTRAINT [FK_RolePrivileges_Roles] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RolePrivileges] CHECK CONSTRAINT [FK_RolePrivileges_Roles]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_Roles] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_Roles]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_Users]
GO
USE [master]
GO
